body{
  background-color: whitesmoke;

}

header {
  border: 5px solid red;
}

main {
  margin-top: 0;
}
.container {
  border: 2px solid rgb(183, 225, 253);
  margin-left:200px;
  width: 100%;

}

#row-1 {
  border: 5px solid red;
}
#row1>.col-6 p {
  font-size: 13.3px;
  color: red;
}
#row-2 {
  border: 5px solid blue;
}

#row-3 {
  border: 5px solid blueviolet;
}

#row-4 {
  border: 5px solid orangered;
}

.row>div {
  border:2px solid palevioletred;
}

a {
  text-decoration: none;
}

.navbar {
  width:200px;
  float:left;
}

nav img {
  width: 100%;
}

row>div {
  border: 1px solid red;
}
 
.card {
  display: flex;
}

#footer-info {

  display: flex;

}
footer {
  font-size: 0.75em;
  font-family: sans-serif;
  padding: 15px;

}
footer>ul>li {
  display: inline;
  padding-right: 1em;
  left: 0;
}

#wikimedia {
  position: absolute;
  right: 0;
}

